@use "../../sizes.scss";

h1,
h2,
h3,
h4 {
  text-align: center;
  color: rgb(115, 112, 112);
}

h4 {
  padding-bottom: calc(-1 * sizes.$guardian-size-80);
}

ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}

img {
  width: 100%;
  height: sizes.$guardian-size-210;
  opacity: 0.7;
}

.cards {
  text-align: center;
  display: inline-grid;
  grid-template-columns: auto auto;
}


.card-item {

  height: 100%;
  opacity: 0.7;
  padding: sizes.$guardian-size-20;
}

mat-card-content {
  cursor: pointer;
}

.card-item:hover {
  opacity: 1;
}

mat-card {
  height: sizes.$guardian-size-325;
}

.mat-card-title {
  margin: sizes.$guardian-size-20 !important;
  font-size: sizes.$guardian-size-18;
}

.mat-card-footer {
  margin: sizes.$guardian-size-20 !important;
  font-size: sizes.$guardian-size-12;
}

.mat-card-content {
  padding: sizes.$guardian-size-10 !important;
}

#guardianlogo {
  width: sizes.$guardian-size-150;
  height: sizes.$guardian-size-150;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -calc(-1 * sizes.$guardian-size-25);
}

.more-news {
  padding: sizes.$guardian-size-20;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
