$guardian-size-4: 4px;
$guardian-size-5: 5px;
$guardian-size-6: 6px;
$guardian-size-8: 8px;
$guardian-size-10: 10px;
$guardian-size-12: 12px;
$guardian-size-14: 14px;
$guardian-size-15: 15px;
$guardian-size-16: 16px;
$guardian-size-18: 18px;
$guardian-size-20: 20px;
$guardian-size-24: 24px;
$guardian-size-25: 25px;
$guardian-size-28: 28px;
$guardian-size-40: 40px;
$guardian-size-80: 80px;
$guardian-size-120: 120px;
$guardian-size-150: 150px;
$guardian-size-180: 180px;
$guardian-size-210: 210px;
$guardian-size-325: 325px;
$guardian-size-580: 580px;
$guardian-size-600: 600px;

